#root {
  align-items: center;
  background: #fbfbfb;
  display: flex;
  height: 100%;
  justify-content: center;
}

.app {
  max-width: 600px;
  padding: 20px;
  text-align: center;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.alphabet_letter {
  margin: 4px;
}

.coded_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coded_text_word {
  display: flex;
  margin: 0 8px;
}

.coded_text_input {
  height: 4rem;
  width: 400px;
}

.decoded_text_cell {
  margin: 8px 2px;
  text-align: center;
  text-transform: uppercase;
  width: 1rem;
}

.decoded_text_guess {
  color: salmon;
  text-align: center;
}

/*
 * Helpers
 */

hr {
  margin: 40px 0;
}
